<div id="top_index_bgimage" class="jumbotron jumbotron-fluid">
  <header id="top_index_header" class="container">
    <div class="row">
      <article id="top_index_heading" class="col-sm-6">
        <h1 class="display-3">Homework<br />Manager</h1>
        <p class="lead">子供でも簡単に使える!!<br>安全!安心!グループ作成も簡単!! パスワードもつけれる!<br />まず現実の目標がなければタスク管理帳を使うことは無意味だろう。現実の目標を設定しなければならない。</p>

      </article>
      <article id="top_index_form" class="col-sm-4 col-sm-offset-2">
        <%= form_tag action: :auth do %>
          <div class="form-group">
            <%= label_tag :email, 'Email', class: 'control-label sr-only' %>
            <%= email_field_tag :email, '', placeholder: 'Email address', class: 'form-control', tabindex: '1' %>
          </div>
          <div class="form-group">
            <%= label_tag :password, 'Password', class: 'control-label sr-only' %>
            <%= password_field_tag :password, '', placeholder: 'Password', class: 'form-control', tabindex: '2' %>
          </div>
          <div class="form-group">
            <%= submit_tag 'ログイン', class: 'btn btn-primary btn-block' %>
          </div>
        <% end %>
        <hr />
        <%= link_to '新規登録', new_user_path, {class: 'btn btn-success btn-block'} %>
      </div>
    </article>
  </header>
</div>
<section class="container">

<h1><h1>
  <%# TODO: サイトの紹介を書く %>
  <p></p>
  </section>
  
