<article class="task_outline">
  <a href="<%= to %>">
    <h1 class="<%= importance_to_class_name(task.importance) %>">
      <%= task.title %>
    </h1>
    <table class="table">
      <tr>
        <th>期限</th><td><%= task.deadline.nil? ? 'なし' : task.deadline.strftime('%Y年%m月%d日 %H:%M') %></td>
      </tr>
      <tr>
        <th>重要度</th><td><%= task.importance %></td>
      </tr>
      <tr>
        <th>獲得ポイント</th><td><%= task.points %>pt</td>
      </tr>
      <% if defined? finished_at %>
        <tr>
          <th>完了日時</th><td><%= finished_at.strftime '%Y年%m月%d日 %H:%M' %></td>
        </tr>
      <% end %>
    </table>
  </a>
</article>
