<% to ||= group_path(group) %>
<article>
  <header>
    <div class="private_icon">
      <%= glyphicon(group.private ? 'lock' : 'globe') %>
    </div>
    <h2><%= link_to group.name, to %></h2>
    ID: <%= group.id %>
  </header>
  <pre><%= group.detail %></pre>
  <footer>作成者: <%= group.author.name %></footer>
</article>
