<article>
  <header>
    <div class="private_icon">
      <%= glyphicon(group.private ? 'lock' : 'globe') %>
    </div>
    <h2><%= link_to group.name, group_path(group) %></h2>
    ID: <%= group.id %>
  </header>
  <p><%= group.detail %></p>
  <footer>作成者: <%= group.author.name %></footer>
</article>
