<% provide :title, "参加確認" %>
<section id="groups_reception" class="container">
  <%= render 'groups/group_outline', group: @group, to: 'javascript:void(0);'%>
  <h2>このグループに参加しますか?</h2>
  <%= form_tag join_group_path(@group) do %>
    <% if @group.private? %>
      <%= bs_form_group messages: @alert do |msg| %>
        <%= label_tag :password, 'パスワード', class: 'control-label'%>
        <div class="row">
          <div class="col-sm-4">
            <%= password_field_tag :password, '', class: 'form-control' %>
            <%= msg.call %>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= bs_form_group do %>
      <%= submit_tag '参加する', class: 'btn btn-primary' %>
      <%= link_to '参加しない（戻る）', :back, class: 'btn btn-default' %>
    <% end %>
  <% end %>
</section>
