<% provide :title, "グループ検索" %>
<section id="groups_search" class="container">
  <h1>グループ検索</h1>
  <%= form_tag search_user_groups_path, method: :get do %>
    <label><%= radio_button_tag :search_type, 'keyword', checked: true %>キーワードで探す</label>
    <label><%= radio_button_tag :search_type, 'id' %>グループIDで探す</label>
    <%= text_field_tag :input_text, params[:input_text], placeholder: 'キーワードを入力' %>
    <%= submit_tag '検索' %>
  <% end %>
  <% unless @groups.nil? %>
    <% if @groups.empty? %>
      <div>検索条件に合致するグループはありませんでした。</div>
    <% else %>
      <% @groups.each do |group| %>
        <%= render 'groups/group_outline', group: group %>
      <% end %>
      <div id="pagination">
        <%= paginate @groups %>
      </div>
    <% end %>
  <% end %>
</section>
