<!DOCTYPE html>
<html lang="ja">
  <head>
    <title><%= title(yield :title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
    <nav id="common_nav" class="navbar navbar-default">
      <% if @user # ログイン状態だった場合のナビバー%>
        <%= render 'layouts/logined_nav', user: @user %>
      <% else # 非ログイン状態だった場合のナビバー%>
        <%= render 'layouts/not_logined_nav' %>
      <% end %>
    </nav>


    <%= yield %>


    <footer id="common_footer">
      <div class="container">
        <small class="text-muted">&copy; 2016 Homework Management Systems</small>
      </div>
    </footer>
  </body>
</html>
