<!DOCTYPE html>
<html>
  <head>
    <title><%= @title + " - " if @title %>HomeworkManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <%= link_to 'Homework Manager', '', {class: 'navbar-brand'} %>
        </div>
      </div>
    </nav>
    <%= yield %>
    <footer class="container">&copy; 2016 Homework Management Systems</footer>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
