<% # このレイアウトを使用する場合は@group, @userがコントローラ側で設定されていなければならない
  admin = @user.is_admin_with(@group)
  list_items = [
    {
      disp: 'タスク',
      path: admin ? group_tasks_path(@group) : group_users_tasks_path(@group),
      ctrl: 'users_tasks'
    }, {
      disp: 'メッセージボード',
      path: group_messages_path(@group),
      ctrl: 'messages'
    }, {
      disp: 'ランキング',
      path: group_members_path(@group),
      ctrl: 'members'
    }, {
      disp: 'レベル',
      path: group_grades_path(@group),
      ctrl: 'grades'
    }, {
      disp: 'グループ説明',
      path: group_path(@group),
      ctrl: 'groups'
    },
  ]
%>
<% content_for :group do %>
  <div id="layouts_group">
    <div id="bg_image">
      <section class="container">
        <article id="group_heading">
          <p id="today"><%= Time.current.strftime('%Y年%m月%d日') %></p>
          <h1 id="group_name"><%= @group.name %></h1>
          <p>作成者:<%= @group.author.name %></p>
        </article>
        <article id="user_heading">
          <h2><%= @user.name %></h2>
          <% if admin %>
            <p>管理者<p>
          <% elsif grade = @user.grade_with(@group) %>
            <p><%= "レベル: #{grade.name}" %></p>
          <% end %>
        </article>
      </section>
    </div>
    <nav class="navbar navbar-default">
      <div class="container">
        <ul class="nav navbar-nav">
          <% list_items.each do |li| %>
            <%= content_tag :li, class: li[:ctrl].include?(controller_name) ? 'active' : nil do %>
              <%= link_to li[:disp], li[:path] %>
            <% end %>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>

  <%= yield %>

<% end %>
<%= render template: 'layouts/application' %>
